 /* 추가적인 CSS 스타일링은 여기에 작성하세요 */
h1 {
    text-align: center;
}
#reviewScreen {
    display: none;
}
button {
    white-space: pre-line; /* 텍스트에 줄바꿈 적용 */
    display: inline-block;
    height: 8vh;
    font-size: 3vh;
}
.button-container {
    text-align: center;
    width: 100%; /*부모 요소 가로 너비를 100%로 설정*/
}
.question, .answer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); /* 브라우저의 높이를 차지하도록 설정 */
}
.card-counter {
    position: fixed;
    bottom: 10px; /* 화면 하단으로부터의 간격 조절 */
    left: 50%;
    transform: translateX(-50%);
}
.difficulty-buttons {
    position: fixed;
    bottom: 10px; /* 화면 하단으로부터의 간격 조절 */
    left: 50%;
    transform: translateX(-50%);
    word-wrap: break-word;
}
.difficulty-buttons button {
    width: 60vw; /* 버튼의 너비를 viewpoint의 60%로 설정 */
    height: 6vh; /* 높이를 viewpoint 높이의 6%로 설정 */
    display: flex;
    justify-content: center; /* 텍스트를 가로 방향으로 가운데 정렬합니다. */
    align-items: center; /* 텍스트를 세로 방향으로 가운데 정렬합니다. */
    margin-bottom: 0.5em; /* 버튼 간의 간격을 조정합니다. */
}
.restartButton {
    position: fixed; /* 화면의 고정 위치에 배치 */
    top: 50%; /* 화면 상단으로부터 50% 떨어진 위치에 배치 */
    left: 50%; /* 화면 왼쪽으로부터 50% 떨어진 위치에 배치 */
    transform: translate(-50%, -50%); /* 수직 및 수평으로 50%만큼 이동하여 정중앙으로 배치 */
    z-index: 9999; /* 다른 요소 위에 표시 */
    display: none; /* 초기에는 숨김 */
    }
/* 매우 어려움 버튼 */
.difficulty-buttons button:nth-child(1) {
    background-color: #FFb9B3; /* 배경색을 녹색으로 지정 */
    color: black; /* 글자색을 흰색으로 지정 */
}

/* 어려움 버튼 */
.difficulty-buttons button:nth-child(2) {
    background-color: #FFD5B8; /* 배경색을 파란색으로 지정 */
    color: black; /* 글자색을 흰색으로 지정 */
}

/* 쉬움 버튼 */
.difficulty-buttons button:nth-child(3) {
    background-color: #FFF9AA; /* 배경색을 주황색으로 지정 */
    color: black; /* 글자색을 흰색으로 지정 */
}

/* 매우 쉬움 버튼 */
.difficulty-buttons button:nth-child(4) {
    background-color: #ACECD5; /* 배경색을 빨간색으로 지정 */
    color: black; /* 글자색을 흰색으로 지정 */
}
#addCardForm {
    display: none; /*초기에는 숨김*/
}
